.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar_brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar_nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar_nav .nav_link {
  padding-right: 0;
  padding-left: 0;
}
.navbar_nav .dropdown_menu {
  position: static;
}

.navbar_text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar_collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar_toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .navbar_toggler {
    transition: none;
  }
}
.navbar_toggler:hover {
  text-decoration: none;
}
.navbar_toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar_toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar_nav_scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}

@media (min-width: 576px) {
  .navbar_expand_sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar_expand_sm .navbar_nav {
    flex-direction: row;
  }
  .navbar_expand_sm .navbar_nav .dropdown_menu {
    position: absolute;
  }
  .navbar_expand_sm .navbar_nav .nav_link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar_expand_sm .navbar_nav_scroll {
    overflow: visible;
  }
  .navbar_expand_sm .navbar_collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar_expand_sm .navbar_toggler {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar_expand_md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar_expand_md .navbar_nav {
    flex-direction: row;
  }
  .navbar_expand_md .navbar_nav .dropdown_menu {
    position: absolute;
  }
  .navbar_expand_md .navbar_nav .nav_link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar_expand_md .navbar_nav_scroll {
    overflow: visible;
  }
  .navbar_expand_md .navbar_collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar_expand_md .navbar_toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar_expand_lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar_expand_lg .navbar_nav {
    flex-direction: row;
  }
  .navbar_expand_lg .navbar_nav .dropdown_menu {
    position: absolute;
  }
  .navbar_expand_lg .navbar_nav .nav_link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar_expand_lg .navbar_nav_scroll {
    overflow: visible;
  }
  .navbar_expand_lg .navbar_collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar_expand_lg .navbar_toggler {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar_expand_xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar_expand_xl .navbar_nav {
    flex-direction: row;
  }
  .navbar_expand_xl .navbar_nav .dropdown_menu {
    position: absolute;
  }
  .navbar_expand_xl .navbar_nav .nav_link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar_expand_xl .navbar_nav_scroll {
    overflow: visible;
  }
  .navbar_expand_xl .navbar_collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar_expand_xl .navbar_toggler {
    display: none;
  }
}
@media (min-width: 1400px) {
  .navbar_expand_xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar_expand_xxl .navbar_nav {
    flex-direction: row;
  }
  .navbar_expand_xxl .navbar_nav .dropdown_menu {
    position: absolute;
  }
  .navbar_expand_xxl .navbar_nav .nav_link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar_expand_xxl .navbar_nav_scroll {
    overflow: visible;
  }
  .navbar_expand_xxl .navbar_collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar_expand_xxl .navbar_toggler {
    display: none;
  }
}
.navbar_expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.navbar_expand .navbar_nav {
  flex-direction: row;
}
.navbar_expand .navbar_nav .dropdown_menu {
  position: absolute;
}
.navbar_expand .navbar_nav .nav_link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar_expand .navbar_nav_scroll {
  overflow: visible;
}
.navbar_expand .navbar_collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar_expand .navbar_toggler {
  display: none;
}

.navbar_light .navbar_brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar_light .navbar_brand:hover, .navbar_light .navbar_brand:focus {
  color: rgba(0, 0, 0, 0.9);
}
.navbar_light .navbar_nav .nav_link {
  color: rgba(0, 0, 0, 0.55);
}
.navbar_light .navbar_nav .nav_link:hover, .navbar_light .navbar_nav .nav_link:focus {
  color: rgba(0, 0, 0, 0.7);
}
.navbar_light .navbar_nav .nav_link.disabled {
  color: rgba(0, 0, 0, 0.3);
}
.navbar_light .navbar_nav .show > .nav_link,
.navbar_light .navbar_nav .nav_link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar_light .navbar_toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar_light .navbar_toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar_light .navbar_text {
  color: rgba(0, 0, 0, 0.55);
}
.navbar_light .navbar_text a,
.navbar_light .navbar_text a:hover,
.navbar_light .navbar_text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar_dark .navbar_brand {
  color: #fff;
}
.navbar_dark .navbar_brand:hover, .navbar_dark .navbar_brand:focus {
  color: #fff;
}
.navbar_dark .navbar_nav .nav_link {
  color: rgba(255, 255, 255, 0.55);
}
.navbar_dark .navbar_nav .nav_link:hover, .navbar_dark .navbar_nav .nav_link:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar_dark .navbar_nav .nav_link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.navbar_dark .navbar_nav .show > .nav_link,
.navbar_dark .navbar_nav .nav_link.active {
  color: #fff;
}
.navbar_dark .navbar_toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar_dark .navbar_toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar_dark .navbar_text {
  color: rgba(255, 255, 255, 0.55);
}
.navbar_dark .navbar_text a,
.navbar_dark .navbar_text a:hover,
.navbar_dark .navbar_text a:focus {
  color: #fff;
}
